body{
  margin: 0;
  background-image: url("https://github.com/FatalErrror/trandyHall/raw/master/data/mainbackgroundflatdark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
}

.navbar{
  display: block;
}

.navbar1{
  margin-left: 100px;
}

.content{
  margin: auto;
  height: 90vh;
  
}

.contentimage{
  height:100%;
  margin: auto;
}

.button{
  display: block;
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: white;
  width: 220px;
  height: 60px;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 34px;
  cursor: pointer;
  transition: opacity 0.2s;
  padding-left: 5px;
  margin-top: 20px;
  outline: none;
  background-color: rgba(0,0,0,0);
}

.button:hover {
  color: #ddd;
}